.container {
	max-width: 700px;	
}

.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.header img.logo {
	width: 50px;
	vertical-align: text-bottom;
}

.jumbotron {
	text-align: center;
}

.todo li {
	background: transparent url("/static/images/todo.png") 2% center no-repeat;
	background-size: 20px 20px;
	color: #206B3F;
	cursor: pointer;
}

.todo li.todo-done {
	background: transparent url("/static/images/done.png") 2% center no-repeat;
	background-size: 20px 20px;
	color: #206B3F;
}

.todo div.todo-text {
	margin-left: 25px;
}