.container {
	max-width: 700px;	
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

#logo {
	width: 50px;
	vertical-align: text-bottom;
	cursor: pointer;
}

.jumbotron {
	text-align: center;
	margin-top: 26px;
	padding-top: 28px;
	padding-bottom: 28px;
}

.todo li {
	color: #206B3F;
	cursor: pointer;
}

.todo li .done_div {
	background: transparent url("/static/images/todo.png") 2% center no-repeat;
	background-size: 20px 20px;
	width: 30px;
	height: 100%;
	float: left;
	position: absolute;
}

.todo li .list-item-wrapper {
	position: relative;
}

.todo li .todo-done {
	background: transparent url("/static/images/done.png") 2% center no-repeat;
	background-size: 20px 20px;
	color: #206B3F;
}

.todo .todo-text {
	margin-left: 35px;
}

.todo .list-group {
	margin-bottom: 0px;
}

#status {
	height: 20px;
	width: 160;
	margin: 3px 0px;
}

.status-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	border-radius: 4px;
	padding: 2px 0px;
	text-align: center;
	font-size: small;
}

.status-fail {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	border-radius: 4px;
	padding: 2px 0px;
	text-align: center;
	font-size: small;
}

#add-todo-div {
	margin: 4px 0px;
	width: 15%;
}

#add-todo-div button {
	padding: 2px 15px;
	font-size: 10px;
	line-height: 0.8;
	border-radius: 3px;
	color: #fff;
	background-color: #1abc9c;
	border-color: #4cae4c;
	overflow: hidden;
}

#edit-tip {
	float: right;
	width: 200px;
	font-size: smaller;
	color: #4C946C;
}
