{% extends "base.html" %}

{% block body %}

<div class="col-sm-12">
	<div id="status"></div>
	<div class="todo" tid={{ tid }}>
		<ul class="list-group">
		{% for idx, (todo, is_done) in enumerate(todos) %}
			{% set done_class = "" %}
			{% set td_id = "todo-id-%d" % idx %}
			{% if is_done == "y" %}
				{% set done_class = "todo-done" %}
			{% end %}
			<li class="list-group-item">
				<div class="list-item-wrapper">
					<div class="done_div {{ done_class }}"></div>
					<div id={{ td_id }} class="todo-text" contenteditable="true">
						<script type="text/javascript">setTodoHTML("{{ todo }}", '{{ td_id }}')</script>
					</div>
				</div>
			</li>
		{% end %}
		</ul>
	</div>
</div>
{% end %}

